body {
    font-family: 'Arial', sans-serif;
    background-color: #e0f0ff;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #254EAA;
    margin-bottom: 20px;
    font-size: 2.5em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #c0d0ff;
}

th {
    background-color: #254EAA;
    color: #ffffff;
    font-size: 1.2em;
}

tr:hover {
    background-color: #d0e0ff;
}

thead {
    background-color: #254EAA;
    color: #ffffff;
}

caption {
    font-size: 1.6em;
    margin: 10px 0;
    padding: 10px;
    caption-side: top;
    text-align: left;
    font-weight: bold;
    color: #254EAA;
}

.pagination {
    margin: 20px 0;
    text-align: center;
}

.pagination button {
    margin: 0 5px;
    padding: 12px 20px;
    border: 1px solid #254EAA;
    background-color: #ffffff;
    color: #254EAA;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: #254EAA;
    color: #ffffff;
}

.pagination button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #e0e0e0;
}

.pagination #pageInfo {
    font-size: 16px;
    line-height: 35px;
    display: inline-block;
}

.page-size-buttons {
    text-align: center;
    margin: 20px 0;
}

.page-size-buttons button {
    margin: 0 5px;
    padding: 12px 20px;
    border: 1px solid #254EAA;
    background-color: #ffffff;
    color: #254EAA;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.page-size-buttons button.active {
    background-color: #254EAA;
    color: #ffffff;
}

.filters {
    text-align: center;
    margin: 20px 0;
}

.filters input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 10px;
}

.filters select {
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
    border-radius: 5px;
}

.updated-date {
    text-align: center;
    margin: 20px 0;
    font-size: 14px;
    color: #555;
}

.search {
    text-align: center;
    margin: 20px 0;
}

.search input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 10px;
    width: 250px;
}

.search button {
    padding: 10px 20px;
    border: 1px solid #254EAA;
    background-color: #ffffff;
    color: #254EAA;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.search button:hover {
    background-color: #254EAA;
    color: #ffffff;
}

@media (max-width: 768px) {

    .filters input[type="text"],
    .filters select {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .pagination button,
    .page-size-buttons button {
        padding: 10px;
        font-size: 14px;
    }
}